h1 {
    color: #FFF;
    font-family: Anton;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #FFF;
    font-family: Anton;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #FFF;
    font-family: Anton;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h4 {
    color: #FFF;
    font-family: Anton;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5 {
    color: #FFF;
    font-family: Anton;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.headline {
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bodyL {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

html body {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #1e1e1e;
}

.footnote {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.caption {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.small {
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.font_anta {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font_anton {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font_poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-style form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #bcbcbc;
    border-radius: 0.375rem;
    color: black;
}
.form-style form input:focus, form textarea:focus, form select:focus {
    outline: none;
    border-color: #16a34a;
    box-shadow: 0 0 0 3px #16a34a;
    color: black;
}