{% extends 'base.html' %}
{% block content %}
{% comment %} {% include 'navbar.html' %} {% endcomment %}
<div class="bg-black text-white text-justify pt-20 space-y-20 w-[50vw] mx-auto">
    <p>Modul ini mengatur interaksi pengguna terhadap acara nobar melalui fitur Join. Pengguna bertipe User dapat memilih untuk bergabung ke dalam suatu acara nobar dengan dua opsi, yaitu pasti datang atau belum pasti datang. Selain itu, User dapat mengubah pilihannya, membatalkan keikutsertaan, dan melihat jumlah peserta yang telah bergabung. Pemilik tempat nobar dapat melihat daftar pengguna yang bergabung dalam acara mereka. Admin memiliki akses untuk menambahkan pengguna ke acara tertentu, mengubah status keikutsertaan, atau menghapus pengguna dari daftar peserta. Sementara itu, Guest hanya dapat melihat jumlah pengunjung yang telah bergabung tanpa bisa berinteraksi lebih lanjut.</p>
    <div>
        <div>- homepage: crud tempat nobar</div>
        <div>- review: crud review tiap lokasi</div>
        <div>- account: regis, login, delet akun & lihat, update data akun sendiri/orang</div>
        <div>- join: join lokasi, liat siapa aja udah join, update notes join (sudah pasti, 50/50, dll), pemilik bisa delet orang dari list</div>
        <div>- pertandingan: admin bisa bikin,liat,update,pertandingan</div>
    </div>
    
  </div>
{% endblock content%}