{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class = "bg-black w-full pt-16 min-h-screen">
    <div class = "max-w-7x1 mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <!--Nobar Spot Display Section-->
        <div>
            <div class="block text-white text-align:center">
                <img src="{{ nobar_spot.thumbnail }}" width="600" height="300" style="float:left"/>
                <div class="block text-blue text-center font-size=70px space-y-4">
                    <h1 style="">{{nobar_spot.name}}</h1>
                    <p class="text-green-500">{{nobar_spot.home_team}} vs {{nobar_spot.away_team}}</p>
                    <p>{{nobar_spot.address}}</p>
                    <p>{{nobar_spot.city}}</p>
                    <a href="{% url 'join:post_join' nobar_spot.id %}" class="px-32 rounded bg-green-500 py-2 mt-8">  Join </a>    
                </div>
                
            </div>
            
        </div>
        <!--Review Flexbox-->
        {% if not review_list%}
        <div>

        </div>
        {%else%}
        <div class="grid grid-auto-flow:column grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-2">
            
        </div>
        {%endif%}
    </div>
</div>
{%endblock content%}